{% extends "../layout_irrigacion_ocoña.html" %}
{% block titulo %}Socios{% endblock  %}
{% block contenido %}
<div class="contenedor_principal_informacion">
    <div class="opciones_principal">        
        <div class="botones_enlaces">
            <!--<p class="no-margin">Informacion Socio</p>-->
            <a href="{% url 'socios'%}">                
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="50"
            height="50"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#02264d"
            stroke-width="2.25"
            stroke-linecap="round"
            stroke-linejoin="round"
            >
            <path d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
            <path d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1" />
            <path d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
            <path d="M17 10h2a2 2 0 0 1 2 2v1" />
            <path d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
            <path d="M3 13v-1a2 2 0 0 1 2 -2h2" />
            </svg>                
            </a>                        
            <a href="{% url 'ver_detalles_socio' pk=socio.id %}">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="50"
                height="50"
                fill="#02264d"
                stroke="#02264d"
                viewBox="0 0 24 24"
                fill="currentColor"
                >
                <path d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z" />
                <path d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z" />
                </svg>
            </a>
            <a href="{% url 'home_irrigacion_ocoña' %}">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="50"
                height="50"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#d21919"
                stroke-width="2.25"
                stroke-linecap="round"
                stroke-linejoin="round"
                >
                <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                <path d="M10 12h4v4h-4z" />
                </svg>
            </a>
        </div>
    </div>   
    <div class="vista_mostrar_informacion_inmuebles">
        <div class="data_label">
            <div class="informacion_labels">
                <label class="texto_negrita" for="">Transferencias de: </label>
                <label for="">{{ socio }}</label>
            </div>
        </div>
        <div class="data_cuadros"> 
            <div class="">                
                <h2 class="no-margin">Historial Transferencias:</h2>
                <hr class="no-margin">
                <div class="tabla_resumen_transac">
                    <table class="tabla_pequeña">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Folio</th>
                                <th>Tipo</th>                                                                
                                <th>CH-MZ</th>
                                <th>CH-Lote</th>
                                <th>P-MZ</th>
                                <th>P-Lote</th>
                                <th>Transferente</th>
                                <th>Transferido</th>
                                <th>Fecha</th>
                                <th>Codigo</th>
                                <th>Observaciones</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for transferencia_1 in transferencias %}
                            <tr>
                                <td>
                                    <a href="{% url 'editar_transferencia' pk=transferencia_1.id %}"><svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="32"
                                    height="32"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="#01b21e"
                                    stroke-width="2.25"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    >
                                    <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                                    <path d="M13.5 6.5l4 4" />
                                    </svg></a>
                                </td>
                                <td>{{ transferencia_1.id }}</td>
                                <td>{{ transferencia_1.codigo_documento }}</td>
                                <td>{{ transferencia_1.categoria_transferencia }}</td>                                                                
                                <td>{{ transferencia_1.inmueble_huerto.manzana }}</td>
                                <td>{{ transferencia_1.inmueble_huerto.lote }}</td>
                                <td>{{ transferencia_1.inmueble_parcela.manzana }}</td>
                                <td>{{ transferencia_1.inmueble_parcela.lote }}</td>
                                <td>{{ transferencia_1.socio_transferente }}</td>
                                <td>{{ transferencia_1.socio_transferido }}</td>
                                <td>{{ transferencia_1.fecha_transferencia|date:"Y-m-d" }}</td>                            
                                <td>{{ transferencia_1.codigo_relacionado_transferencia }}</td>
                                <td>{{ transferencia_1.observaciones }}</td>
                            </tr>                            
                            {% endfor %}                            
                        </tbody>
                    </table>
                </div>                                
            </div>
        </div> <!--Fin Transferencias-->
    </div>
    </div> 
</div>
{% endblock  %}