{% extends "../layout_irrigacion_ocoña.html" %}
{% block titulo %}Socios{% endblock  %}
{% block contenido %}
<h1 class="no-margin">Editando Huerto</h1>
<div class="contenedor_principal_informacion">
    <form method="POST">
        {% csrf_token %}    
    <div class="opciones_principal">        
        <div class="botones_enlaces">
            <a href="{% url 'menu_bienes_inmueble_huertos'%}">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="50"
            height="50"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#047617"
            stroke-width="1.25"
            stroke-linecap="round"
            stroke-linejoin="round"
            >
            <path d="M5 21c.5 -4.5 2.5 -8 7 -10" />
            <path d="M9 18c6.218 0 10.5 -3.288 11 -12v-2h-4.014c-9 0 -11.986 4 -12 9c0 1 0 3 2 5h3z" />
            </svg>                 
            </a>
            <button class="boton_guardar" type="submit">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="50"
                height="50"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#02264d"
                stroke-width="2.25"
                stroke-linecap="round"
                stroke-linejoin="round"
                >
                <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" />
                <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M14 4l0 4l-6 0l0 -4" />
                </svg>
            </button>                                        
            <a href="{% url 'home_irrigacion_ocoña' %}">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="50"
                height="50"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#d21919"
                stroke-width="2.25"
                stroke-linecap="round"
                stroke-linejoin="round"
                >
                <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                <path d="M10 12h4v4h-4z" />
                </svg>
            </a>
        </div>
    </div>   
    <div>
        <div class="data_label">
            <h1 class="no-margin">Huerto: {{ huerto.id }}</h1>
            <div class="informacion_labels_input">
                <label class="texto_negrita" for="">MZ:</label>
                {{ form.manzana }}
            </div> 
            <div class="informacion_labels_input">
                <label class="texto_negrita" for="">Lote:</label>
                {{ form.lote }}
            </div> 
            <div class="informacion_labels_select">
                <label class="texto_negrita" for="">Personas:</label>
                {{ form.socio_poseedor_actual }}
            </div>            
            <div class="informacion_labels">
                <label class="texto_negrita" for="">En calidad de :</label>
                <label for="">{{ huerto.tipo_enlace_socio }}</label>
            </div>                           
        </div>            
    </form>
</div>
{% endblock  %}