{% extends "../layout_irrigacion_ocoña.html" %}
{% block titulo %}Huertos{% endblock  %}
{% block contenido %}
<h1 class="no-margin">Listado Huertos</h1>
<div class="contenedor_principal_informacion">
    <div class="opciones_principal">
        <div class="buscador">
            <div class="estilo_buscador">
                <label for="">MZ:</label>
                <input type="text" placeholder="Ingrese MZ" id="pista_mz" name="mz" >                
            </div>            
            <div class="estilo_buscador">
                <label for="">Lote:</label>
                <input type="text" placeholder="Ingrese Lote" id="pista_lote" name="lote" >                
            </div>            
            <button hx-get="{% url 'filtrar_huertos_nombres' %}" 
            hx-target="#listado_huertos" 
            hx-include="#pista_mz,#pista_lote"
            hx-indicator="#loading-spinner">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#047670"
                stroke-width="2.25"
                stroke-linecap="round"
                stroke-linejoin="round"
                >
                <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                <path d="M21 21l-6 -6" />
                </svg>
            </button>
        </div>
        <div class="informacion_socios">
            <label for="">N°Huertos:</label>            
            <label for="">{{ cantidad_huertos }}</label>
            <label for="">Total</label>            
        </div>
        <a class="botones_enlaces_add"
            href="{% url 'agregar_huerto' %}">Agregar Huerto</a>      
        <div class="botones_enlaces">
            <!--<a href="">+ Agregar Huerto</a>-->
            <a href="{% url 'home_irrigacion_ocoña' %}">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="50"
                height="50"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#02264d"
                stroke-width="2.25"
                stroke-linecap="round"
                stroke-linejoin="round"
                >
                <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                <path d="M10 12h4v4h-4z" />
                </svg>
            </a>
        </div>
    </div>   
    <div id="listado_huertos">
        <table class="tabla_contenido">
            <thead>
                <tr>      
                    <th>ID</th>                                                      
                    <th>MZ</th>                                        
                    <th>Lote</th>
                    <th>DNI Socio</th>
                    <th>Socio</th>
                    <th>En Calidad de</th>                                        
                    <th>Detalles</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for huerto in huertos %}                
                <tr>
                    <td>{{ huerto.id }}</td>
                    <td>{{ huerto.manzana }}</td>
                    <td>{{ huerto.lote }}</td>
                    <td>{{ huerto.socio_poseedor_actual.dni }}</td>
                    <td>{{ huerto.socio_poseedor_actual.apellidos }}, {{ huerto.socio_poseedor_actual.nombres }}</td>                                                                                
                    <td>{{ huerto.tipo_enlace_socio }}</td>                    
                    <td class="aling-center"> 
                        <a href="{% url 'detalles_huertos' pk=huerto.id %}">
                            <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="32"
                            height="32"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="#a36852"
                            stroke-width="2.25"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            >
                            <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                            <path d="M12 18c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                            <path d="M16 19h6" />
                            <path d="M19 16v6" />
                            </svg>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'editar_huerto' pk=huerto.id %}"><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="32"
                        height="32"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#01b21e"
                        stroke-width="2.25"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        >
                        <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                        <path d="M13.5 6.5l4 4" />
                        </svg></a>
                        <!--<a href=""><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="32"
                            height="32"
                            viewBox="0 0 24 24"
                            fill="#FF0000"
                            >
                            <path d="M20 6a1 1 0 0 1 .117 1.993l-.117 .007h-.081l-.919 11a3 3 0 0 1 -2.824 2.995l-.176 .005h-8c-1.598 0 -2.904 -1.249 -2.992 -2.75l-.005 -.167l-.923 -11.083h-.08a1 1 0 0 1 -.117 -1.993l.117 -.007h16zm-9.489 5.14a1 1 0 0 0 -1.218 1.567l1.292 1.293l-1.292 1.293l-.083 .094a1 1 0 0 0 1.497 1.32l1.293 -1.292l1.293 1.292l.094 .083a1 1 0 0 0 1.32 -1.497l-1.292 -1.293l1.292 -1.293l.083 -.094a1 1 0 0 0 -1.497 -1.32l-1.293 1.292l-1.293 -1.292l-.094 -.083z" />
                            <path d="M14 2a2 2 0 0 1 2 2a1 1 0 0 1 -1.993 .117l-.007 -.117h-4l-.007 .117a1 1 0 0 1 -1.993 -.117a2 2 0 0 1 1.85 -1.995l.15 -.005h4z" />
                            </svg></a>-->
                    </td>
                </tr>                
                {% endfor %}
            </tbody>
        </table>

    </div> 
</div>
{% endblock  %}