<table class="tabla_contenido">
    <thead>
        <tr> 
            <th>ID</th>                                                      
            <th>MZ</th>                                        
            <th>Lote</th>
            <th>DNI Socio</th>
            <th>Socio</th>
            <th>En Calidad de</th>                                        
            <th>Detalles</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for parcela in parcelas %}                
        <tr>
            <td>{{ parcela.id }}</td>
            <td>{{ parcela.manzana }}</td>
            <td>{{ parcela.lote }}</td>
            <td>{{ parcela.socio_poseedor_actual.dni }}</td>
            <td>{{ parcela.socio_poseedor_actual.apellidos }}, {{ parcela.socio_poseedor_actual.nombres }}</td>                                                                                
            <td>{{ parcela.tipo_enlace_socio }}</td>
            <td>
                <a href="{% url 'detalles_parcelas' pk=parcela.id %}">
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#a36852"
                    stroke-width="2.25"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    >
                    <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                    <path d="M12 18c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                    <path d="M16 19h6" />
                    <path d="M19 16v6" />
                    </svg>
                </a>
            </td>
            <td>
                <a href="{% url 'editar_parcela' pk=parcela.id %}"><svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#01b21e"
                stroke-width="2.25"
                stroke-linecap="round"
                stroke-linejoin="round"
                >
                <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                <path d="M13.5 6.5l4 4" />
                </svg></a>
                <!--<a href=""><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 24 24"
                    fill="#FF0000"
                    >
                    <path d="M20 6a1 1 0 0 1 .117 1.993l-.117 .007h-.081l-.919 11a3 3 0 0 1 -2.824 2.995l-.176 .005h-8c-1.598 0 -2.904 -1.249 -2.992 -2.75l-.005 -.167l-.923 -11.083h-.08a1 1 0 0 1 -.117 -1.993l.117 -.007h16zm-9.489 5.14a1 1 0 0 0 -1.218 1.567l1.292 1.293l-1.292 1.293l-.083 .094a1 1 0 0 0 1.497 1.32l1.293 -1.292l1.293 1.292l.094 .083a1 1 0 0 0 1.32 -1.497l-1.292 -1.293l1.292 -1.293l.083 -.094a1 1 0 0 0 -1.497 -1.32l-1.293 1.292l-1.293 -1.292l-.094 -.083z" />
                    <path d="M14 2a2 2 0 0 1 2 2a1 1 0 0 1 -1.993 .117l-.007 -.117h-4l-.007 .117a1 1 0 0 1 -1.993 -.117a2 2 0 0 1 1.85 -1.995l.15 -.005h4z" />
                    </svg></a>-->
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>